<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">


<beans>

	<bean id="std" class="com.entity.Student">
		<constructor-arg index="0" value="121"></constructor-arg>
		<constructor-arg index="1" value="Sangram"></constructor-arg>
		<constructor-arg index="2" value="24"></constructor-arg>
		<constructor-arg index="3" value="Pune"></constructor-arg>
		<constructor-arg index="4" ref="ins"></constructor-arg>
	</bean>

	<bean id="ins" class="com.entity.Institute">
	<constructor-arg index="0" value="4104"></constructor-arg>
	<constructor-arg index="1" value="Sangram Academy"></constructor-arg>
	<constructor-arg index="2" value="Bewadalogy"></constructor-arg>
	
	</bean>

</beans>